.card {
  background-color: rgba(255, 255, 255, 0.374);
  border-radius: var(--g-3);
}

.card-container__header {
  border-radius: 10px 10px 0px 0px;
  background-color: hsl(var(--base-hue-1), 50%, 50%);
  margin-block-start: 2rem;
  height: 2rem;
}
.card-container__card-headline {
  font-size: 3rem;
  color: var(--white);
}

.card--icon {
  width: 4rem;
  position: absolute;
  right: 0;

  padding: 1.5%;
  transform: translate(-50%, 0%);
  background-color: red;
  border-radius: 50%;
}

.card--danger {
  background-image: linear-gradient(
    to bottom right,
    hsl(var(--hue-3), 50%, 50%),
    hsl(var(--hue-3), 50%, 70%)
  );

  border-color: hsl(var(--base-hue-3), 100%, 100%);
}

.card-container__main {
  border-bottom: solid;
  border-color: blue;
}

.card-container__card-text {
  margin-block-start: 2rem;
  margin-block-end: 2rem;
}

.card-container__footer {
  height: 4vh;
}
.btn {
  margin-block-start: 2rem;
  margin-block-end: 2rem;
  transform: translate(-25%, -25%);
  float: right;
}
